.gitattributes text eol=lf
rewrites/*.c text eol=lf
rewrites/*.h text eol=lf
rewrites/*.py text eol=lf
tools/*.py text eol=lf
src/AfterDark.Studio/*.cs whitespace=cr-at-eol
src/AfterDark.Studio/*.xaml whitespace=cr-at-eol
src/AfterDark.Studio/*.csproj whitespace=cr-at-eol
src/AfterDark.Studio/**/*.cs whitespace=cr-at-eol
src/AfterDark.Studio/**/*.xaml whitespace=cr-at-eol